<div class="container">
  <div class="header">
    <img src="https://scclmines.com/scclnew/images/sccl-logo.jpg">
    <img src="https://scclmines.com/scclnew/images/top-right-img.jpg">
  </div>
  <div class="navbar">
    <ul>
      <li><a href="COMPANY">COMPANY</a>
        <div class="navs">
          <ul style="top: 120px; box-shadow: rgb(170, 170, 170) 0px 0px 5px; visibility: visible; left: 0px; width: 170px; display: block;">
            <li><a href="BUSSINESS"> BUSSINESS</a></li>
            <li><a href="TENDERS">TENDERS</a>
            <li><a href="PERFORMANCE">PERFORMANCE</a></li>
            <li><a href="DEVELOPMENT">DEVELOPMENT</a></li>
            <li><a href="ENVIRONMENT">ENVIRONMENT</a></li>
            <li><a href="CARRERS">CARRERS</a></li>
            <li><a href="CSR">CSR</a></li>
            <li><a href="EVENTS&UPDATES">EVENTS</a></li>
          </ul>
        </div>

      </li>

      <li><a href="BUSSINESS"> BUSSINESS</a></li>
      <li><a href="TENDERS">TENDERS</a></li> 
      <li><a href="PERFORMANCE">PERFORMANCE</a></li>
      <li><a href="DEVELOPMENT">DEVELOPMENT</a></li>
      <li><a href="ENVIRONMENT">ENVIRONMENT</a></li>
      <li><a href="CARRERS">CARRERS</a></li>
      <li><a href="CSR">CSR</a></li>
      <li><a href="EVENTS&UPDATES">EVENTS</a></li>
    </ul>
  </div>

  <footer style="padding: 25px;">
    <h5> 2024 SCCL maintned all the stations</h5>
    <h5> site last updated o4 sep 2024</h5>
    <h5> maintend by IT department</h5>
  </footer>
</div>